# -*- mode: Conf; -*-

####################################################################################################

*~
__pycache__
du.log

####################################################################################################

app/app.egg-info/
app/env/
app/poetry.lock
env/

####################################################################################################
#
# Never commit !
#
####################################################################################################

app/PASSWORD.txt
app/dev.env
app/secret_env.sh
recapatcha-account.txt

app/app/data/country.json

####################################################################################################
#
# NOT YED COMMITED !!!
#
#####################################################################################################

app/alembic/versions/

# doc/
.travis.yml

####################################################################################################

app/alembic.ini.diff
app/alembic/env.py.diff

app/__TRASH__/
app/app/foo
app/app/tests/api/api_v1/_test_celery.py
app/app/tests/utils/_donation.py

app/requirements.txt
