# -*- mode: Conf; -*-

####################################################################################################

*~
__pycache__
du.log
__TRASH__/

####################################################################################################

app/app.egg-info/
app/env/
app/node_modules/
app/poetry.lock
app/yarn.lock
env/

app/stripe

####################################################################################################
#
# Never commit !
#
####################################################################################################

app/PASSWORD.txt
app/dev.env
app/secret_env.sh
recapatcha-account.txt

app/app/data/country.json

####################################################################################################
#
# NOT YED COMMITED !!!
#
#####################################################################################################

.travis.yml
app/alembic/versions/
app/doc/
app/notes/

####################################################################################################

app/alembic.ini.diff
app/alembic/env.py.diff
app/app/email-templates/build-orig/
app/app/tests/api/api_v1/_test_celery.py
app/app/tests/utils/_donation.py
app/checkout.session.completed.json
app/requirements.txt
app/test-recaptcha.py
